*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.exe
*.exp
*.lib
*.o
*.vscode
*.DS_Store
graph10b.txt
graph11b.txt
graph12b.txt
graphP01.txt
graphP02.txt
graphP03.txt
graphP04.txt
graphP05.txt
graphP06.txt
graphP07.txt
graphP08.txt
graphP09.txt
graphP1.txt
